.tab:active:first-child {
    background-texture: assets("sorcery:textures/gui/grimoire/tab_begin.png");
}

.tab:active {
    background-texture: assets("sorcery:textures/gui/grimoire/tab_middle.png");
}

.tab:first-child {
    background-texture: assets("sorcery:textures/gui/grimoire/tab_begin_inactive.png");
}

.tab {
    background-texture: assets("sorcery:textures/gui/grimoire/tab_inactive.png");
}